.post {
    text-wrap: pretty;
    width: 100%;
}

.post blockquote {
    padding: 20px;
    text-wrap: balance;
    text-align: right;
    font-style: italic;
}

.post blockquote p:first-child::before {
    content: '\201C';
}

.post blockquote p:first-child:after {
    content: '\201D';
}

.post blockquote p:nth-child(2) {
    text-align: right;
}

.post a {
    color: var(--accent);
}
