.post {
    text-wrap: pretty;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    animation: var(--slide-up);
}

.post blockquote {
    padding: 20px;
    text-wrap: balance;
    text-align: right;
    font-style: italic;
}

.post blockquote p:first-child::before {
    content: '\201C';
}

.post blockquote p:first-child:after {
    content: '\201D';
}

.post blockquote p:nth-child(2) {
    text-align: right;
}

.post a {
    color: var(--accent);
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

.aside {
    @media (max-width: 1000px) {
        display: none;
    }
}
