.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog > a {
    text-decoration: none;
}

.blog > a:hover {
    text-decoration: underline;
}

.blog article {
    padding-top: 20px;
    max-width: 800px;
}