.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog > a {
    text-decoration: none;
}

.blog > a:hover {
    text-decoration: underline;
}

.blog article {
    max-width: 800px;
    width: 100%;
}

.blog article:has(aside) {
    max-width: 1000px;
}

.back {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back a {
    text-decoration: none;
}

.back a:hover {
    text-decoration: underline;
}
