.button {
    padding: 10px;
    cursor: pointer;
    color: var(--button-primary-text);
    background-color: var(--button-primary-background);
    border: none;
    min-width: 100px;
    transition: transform 0.3s ease;
}

.button:hover {
    background-color: var(--button-primary-background-hover);
    transform: scale(1.1);
    filter: grayscale(0.2);
}
