.header {
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-secondary);

    @media (max-width: 600px) {
        flex-direction: column-reverse;
        gap: 0.25rem;
    }
}

.header_empty {
    justify-content: center;
}

.header h1 {
    font-size: 1.25rem;
}

.nav {
    display: flex;
    align-items: end;
    width: 100%;
    gap: 2rem;
    font-size: 1.25rem;

    @media (max-width: 600px) {
        justify-content: center;
    }
}

.nav-item {
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none;

    display: flex;
    align-items: end;
    justify-content: start;
    width: max-content;
}

.nav-item:hover {
    border-radius: 10px;
    justify-content: center;
    transform: scale(1.25);
    color: var(--accent);
}

.nav-item_active {
    pointer-events: none;
    color: var(--accent);
}
