.header {
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-secondary);

    @media (max-width: 600px) {
        flex-direction: column-reverse;
        gap: 0.25rem;
    }
}

@media (min-width: 600px) {
    @supports (animation-timeline: scroll()) {
        .header {
            padding: 0.25rem 1.5rem;
            border-radius: 22px;
            z-index: 10;
            position: sticky;
            top: -20px;
            animation: shrink linear both;
            animation-timeline: scroll();
            animation-range: 100px 101px;
        }
    }

    @keyframes shrink {
        to {
            background: var(--surface-bg);
            justify-content: space-around;
            width: max-content;
            gap: 1.25rem;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.header_empty {
    justify-content: center;
}

.header h1 {
    font-size: 1.25rem;
}

.nav {
    display: flex;
    align-items: end;
    width: 100%;
    gap: 2rem;
    font-size: 1.25rem;

    @media (max-width: 600px) {
        justify-content: center;
    }
}

.nav-item {
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none;

    display: flex;
    align-items: end;
    justify-content: start;
    width: max-content;
}

.nav-item:hover {
    border-radius: 10px;
    justify-content: center;
    transform: scale(1.15);
    color: var(--accent);
}

.nav-item_active {
    pointer-events: none;
    color: var(--accent);
}
