.intro {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.intro p {
    text-wrap: pretty;
}

.intro > footer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
