.intro {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.intro p {
    text-wrap: pretty;
    opacity: 0;
    transform: translateY(10px);
    animation: var(--slide-up);
}

.intro > footer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
