:root {
    color-scheme: dark light;

    --font-mono: 'Courier New', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', monospace;
    --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
        Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-size: 100%;
    --line-height: 1.5;

    --light-background: #f2f1e1;
    --light-foreground: #171717;
    --light-accent: rgb(123, 76, 250);

    --dark-background: #2b2a2a;
    --dark-foreground: #ededed;
    --dark-accent: rgb(245, 182, 64);

    --background: light-dark(var(--light-background), var(--dark-background));
    --foreground: light-dark(var(--light-foreground), var(--dark-foreground));
    --accent: light-dark(var(--light-accent), var(--dark-accent));

    --text-primary: var(--foreground);

    --button-primary-text: var(--background);
    --button-primary-background: var(--accent);
    --button-primary-background-hover: var(--accent);

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
}

:root[data-theme='light'] {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --accent: var(--light-accent);
}

:root[data-theme='dark'] {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --accent: var(--dark-accent);
}

.d-js-required {
    display: none;
}

:root[data-javascript='true'] .d-js-required {
    display: unset;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100dvh;
}

html {
    display: flex;
    justify-content: center;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-mono);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: 2rem 2rem 1rem 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 40px;
    justify-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    font-weight: 600;
}

a:hover {
    color: var(--accent);
}

body > footer,
body > main {
    width: 100%;
    max-width: 1400px;
}

body > footer {
    text-align: right;
}

@media (max-width: 600px) {
    body > footer {
        text-align: center;
    }
}
