.greeting {
    display: flex;
    flex-direction: column;
}

.greeting article {
    text-wrap: balance;
}

.greeting section {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
