.not-found {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.not-found p {
    padding: 1.5rem 0;
}

.scene {
    position: relative;
    width: 100px;
    height: 100px;
}

.scene img {
    animation: rolling 45s linear infinite;
    filter: drop-shadow(3px 3px 33px var(--text-secondary)) grayscale(0.66);
}

@keyframes rolling {
    0% {
        transform: rotateZ(0);
        translate: 0px 0px 0px;
    }
    50% {
        transform: rotateZ(180deg);
        translate: 5px 25px 0px;
    }
    100% {
        transform: rotateZ(360deg);
        translate: 0px 0px 0px;
    }
}
