.posts {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    padding: 30px;
    gap: 60px;

    @media (min-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.posts > a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.posts img {
    pointer-events: none;
}
