.posts {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    max-width: 500px;
}

.posts > a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
