.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-link a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project img {
    transition: transform 0.5s ease;
    filter: grayscale(0.5);
    cursor: pointer;
}

.project img:hover {
    transform: scale(1.25);
    filter: drop-shadow(4px 4px 10px var(--accent));
}
